<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Almi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="welcome-card">
    <ion-img src="assets/aalmi.jpg" alt="Almi"></ion-img>
    <ion-card-header>
      <ion-card-title>Almi</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Bienvenido a la página de gestión de alumnado del centro de Estudios Almi</p>
    </ion-card-content>    
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let item of alumnos">
      <ion-label>{{ item.nombre }}</ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-searchbar placeholder="Inserta el nombre"></ion-searchbar> -->

</ion-content>
